doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		script
			include ../public/js/vendor/jquery-1.12.2.min.js
			include ../public/js/main.js